body{
    background-color:rgb(10, 1, 46);
}
header{
    margin-top: 5%;
    text-align: center;font-size: 15px;
    text-shadow: 2px 2px 3px aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;margin-left: 25%;margin-right: 25%;

}
header:hover{
    font-size: 16px;text-shadow: 2px 2px 3px rgb(17, 97, 202);
}
.div0{
    margin-left: 10%;margin-right: 10%;text-align: center;
}
.div0 h3{
    color: #666464;
    
}
.div0 p{
    color: #adaaaa;
}
.divmae{
    text-align: center;margin-top: 100px;
}
.div1,.div2,.div3{
 margin-bottom: 100px;color: #adaaaa;box-shadow: 0px 0px 20px rgb(116, 105, 105);
}
@media  screen and (min-width:1000px) {
   
    .divmae{
    text-align: center;margin-top: 100px;display: flex;justify-content: space-around;
}
}
.divfront{
    text-align: center;margin-top: 3%;
}